:root {
    --monospace-font: "Roboto Mono", "Courier", monospace;
    --sans-serif-font: "Roboto", "Arial", sans-serif;
    --background-color: rgb(250, 250, 250);
    --text-color: rgb(13, 13, 13);
}

body {
    /* background properties */
    background-color: var(--background-color);
    text-align: center;
    /* font properties */
    font-family: var(--monospace-font);
    color: var(--text-color);
}

header {
    margin-bottom: 48px;
}

.header__center-emoji {
    font-size: 50px;
    margin-top: 20vh;
    margin-bottom: 16px;
}

h1 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 50px;
}

.header__subheading {
    font-family: var(--sans-serif-font);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.header__br {
    display: none;
}

main {
    margin-top: 32px;
    margin-bottom: 96px;
}

h2 {
    font-weight: 400;
    margin-bottom: 8px;
}

div {
    margin-top: 0;
}

a {
    font-family: var(--sans-serif-font);
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
}

a:visited {
    color: var(--sans-serif-font);
}

a:hover{
    background-color: var(--text-color);
    color: white;
}

footer {
    padding: 16px 0 32px 0;
    width: 100%;
}

.footer__text {
    text-align: center;
    margin: 0;
}

@media only screen and (min-height: 520px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-width: 767px) {
    html {
        margin: 0;
    }

    body {
        text-align: left;
    }

    header {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .header__center-emoji {
        margin-top: 10vh;
    }

    h1 {
        font-size: 40px;
    }

    .header__br {
        display: inline;
    }

    main {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    a:first-child {
        margin-left: 0;
        padding-left: 0;
    }

    .footer__text {
        margin: 0;
    }
}